img {
    height: 200px;
    width 200px;
    border-radius: 50%;
    border-style: dotted;
}

#welcome {
    position: absolute;
    overflow: hidden;
    height: 800px;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(aqua 0%, blue 50%, pink 100%);
    opacity: 0.9;
    display: table;
    width: 100%;
    height: 100%;
    z-index: 9;
}

body {
    text-align: center;
    padding-top: 800px;
}

.welcomeinner {
    display: table-cell;
    vertical-align: middle;
}

.line {
    height: 8px;
    width: 100px;
    background-color: black;
    margin: 10px auto;
}

p {
    font-size: 20px;
    max-width: 600px;
    margin: auto;
}

#bio {
    background: linear-gradient(#dde90a, #12beeb, #fc45f8);
    padding-top: 50px;
    padding-bottom: 20px;
    margin-right: -50px;
    margin-left: -50px;
    
}

.menu {
    z-index: 10;
    list-style: none;
/*    position: absolute this code has been removed from C- 59 to bring the menu bar in the center.;*/
    position: fixed;
    top: 0px;
/*    right: 0px;*/
    cursor: pointer;
    color: white;
    font-size: 30px;
    background-color: deeppink;
    margin-top: 0px;
    width: 100%; 
    margin-left: -8px;
    
}

.links {
    display: inline-flex;
/*    float: left;*/
    padding: 20px;
    font-family: "Dancing Script", cursive;

}

.links a:hover  {
   text-decoration: underline;
    font-size: 35px;
    color: darkcyan !important;
    text-shadow: 2px 2px black;
}

#name {
    font-family: 'Cinzel Decorative', cursive;
font-size: 40px;
    text-decoration: underline;
}

#video {
    background-color: aquamarine;

    padding-bottom: 50px;
    padding-top: 15px;
    margin-right: -10px;
    margin-left: -10px;

}

h1 {
    font-size: 45px;

}

#work {
    background-color: crimson;
    margin-top: -20px;
    margin-right: -50px;
    padding-top: 30px;
    padding-bottom: 40px;
    margin-left: -30px;
}
#writings {
    background-color: chartreuse;
    padding-top: 30px;
    padding-bottom: 40px;
   margin-right: -10px;
       margin-left: -10px;
}
#writings a{
    font-size: 25px;
   
}
.articles:hover{
    color:maroon;
}
.mailicon h3{
    display: inline;
    font-size: 25px;
}
.menu a{
    color: white !important;
    
}
